<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zrquan.mobile" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="ZrquanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/StartUpTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.MainActivity"/>
        <activity android:label="设置Demo" android:name=".ui.demo.DemoSettingActivity"/>
        <activity android:label="登录" android:name=".ui.authentic.UserLoginActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="注册" android:name=".ui.authentic.UserRegisterActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="搜索" android:name=".ui.search.SearchActivity" android:theme="@style/PageIndicatorLightDefaults" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="发布说说" android:name=".ui.PublishActivity" />
        <activity android:label="设置密码" android:name=".ui.authentic.UserRegisterSetPasswordActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="获取头像" android:name="com.zrquan.mobile.ui.GetPictureActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.zrquan.mobile.action.GET_PICTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
